[submodule "xdp-tutorial"]
	path = xdp-tutorial
	url = git@github.com:xdp-project/xdp-tutorial.git
[submodule "xdp-tools"]
	path = xdp-tools
	url = git@github.com:xdp-project/xdp-tools.git
[submodule "poorpcap/userspace-nobpf/libpcap"]
	path = poorpcap/userspace-nobpf/libpcap
	url = git@github.com:arthunix/libpcap.git
[submodule "libbpf-bootstrap"]
	path = libbpf-bootstrap
	url = git@github.com:arthunix/libbpf-bootstrap.git
[submodule "packet filtering models sbrc/cbpf-userspace/libpcap"]
	path = packet filtering models sbrc/cbpf-userspace/libpcap
	url = git@github.com:arthunix/libpcap.git
